.footer {
	background-color: #001a39;
	height: 50px;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-nav {
	flex-flow: row nowrap;
}
.footer-nav a {
	font-size: 15px;
	padding: 10px;
}
